
#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
  }
  
  #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
  }
  
  #sidebar-wrapper .list-group {
    width: 15rem;
  }
  
  #page-content-wrapper {
    min-width: 100vw;
  }
  
  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }
  
  @media (min-width: 768px) {
    #sidebar-wrapper {
      margin-left: 0;
    }
  
    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }
  
    #wrapper.toggled #sidebar-wrapper {
      margin-left: -15rem;
    }
  }

  .landing-page-bg {
    background: linear-gradient(90deg, #f869d5 0%, #6454f0 100%);
  }

  .color-one {
    color: #6454f0;
  }

  .color-two {
    color: #f869d5;
  }

  hr.divider {
    border-radius: 50px 50px 5px 5px;
    background: linear-gradient(90deg, #f869d5 0%, #6454f0 100%);
    padding: 2px;
    width: 200px;
    height: 2px;
  }
  hr.head {
    border-radius: 5px 5px 50px 50px;
    background: white;
    padding: 1px;
    width: 400px;
    height: 1px;
  }

  .btn-gradient {
    color: #fff;
    background-color: #6454f0;
  }

  .btn-gradient:hover {
    color: #f869d5;
    background-color: white;
    border-color: #6454f0;
  }

  .btn-gradient-two {
    color: #fff;
    background-color: #f869d5;
  }

  .btn-gradient-two:hover {
    color: #6454f0;
    background-color: white;
    border-color: #f869d5;
  }

  .overflow-y{
    overflow-y: auto;
    overflow-x: hidden;
  }  
  